$text-color: #034164;
$menu-selected-color: #6F2683;
$link-color: #2B92D1;
$color-schema: black;
$color-selection: #6F2683;

$header-title-size: 3em;
$menu-text-size: 1em;
$body-text-size: 1.5em;
$page-title-size: 1.8em;
$inspector-font-size: 1.2em;

