@import "@/scss/global-var.scss";

.cable {
  stroke-width: 1;
}

.cableHidden {
  stroke: white;
  stroke-width: 10;
}


g.cable:not(selected) {
  stroke: $color-schema;

  circle {
    fill: $color-schema;
  }
}

g.cable.selected {
  stroke: $color-selection;

  circle {
    fill: $color-selection;
  }

}